{% extends "layout.twig" %}

{% block title %} <title> TheGoodCorner | Site d'annonces </title> {% endblock %}

{% block content %}

<section class="message">

<h1>Votre annonce a bien été supprimée !</h1>

<button><a href="./">Revenir à l'acceuil</a></button>

</section>
{% endblock %}